<div class="main_content">
	<div id="recipe_top" class= "row">
		<div class="col-md-4">
			<%= image_tag @recipe.image.url(:medium), class: "recipe_image" %>
		</div>
		<div class="col-md-8">
			<div id="recipe_info">
				<h1><%= @recipe.titulo %></h1>
				<p class="description"> <%= @recipe.descripcion %></p>
				<p>Publicado por 
				<%= @recipe.user.email %>
				el 
				<%= @recipe.created_at.strftime("%x") %>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div id="ingredients">
				<h2>Ingredientes</h2>
				<ul>
					<% @recipe.ingredients.each do |ingredient| %>
					<li><%= ingredient.name %></li>
					<% end %>
				</ul>
			</div>
		</div>

		<div class="col-md-6">
			<div id="directions">
				<h2>Preparacion</h2>
				<ul>
					<% @recipe.directions.each do |direction| %>
					<li><p><%= direction.paso %></li></p>
					<% end %>
				</ul>
			</div>	
		</div>
	</div><br>
	<div class="row">
		<div class="col-md-12">
			<%= link_to 'Regresar', root_path, class: "btn btn-default" %> 
			<% if @recipe.user == current_user %>
			<%= link_to 'Editar', edit_recipe_path(@recipe), class: "btn btn-default" %>
			
			<%= link_to 'Eliminar', recipe_path, method: :delete, data: { confirm: 'Esta seguro?' }, class: "btn btn-default" %>
			<% end %>
		</div>
	</div>
</div>