<nav id= "navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Boton Navegador</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to "Recetas", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li > <%= link_to " Nueva Receta", new_recipe_path, class:"glyphicon glyphicon-book" %> </li>
            
      </ul>


    <% if user_signed_in? %>

      <ul class="nav navbar-nav navbar-right">
       
        <li><%= link_to " Sign Out", destroy_user_session_path, method: :delete,  class:"glyphicon glyphicon-off" %></li>

        <li><%= link_to " Cambiar Password", edit_user_registration_path, class:"glyphicon glyphicon-edit" %></li>


      </ul>


    <% else %>

        <ul class="nav navbar-nav navbar-right">
       
        <li><%= link_to " Registrate", new_user_registration_path, class:"glyphicon glyphicon-plus" %></li>
        <li><%= link_to " Sign in", new_user_session_path, class:"glyphicon glyphicon-user" %></li>

      </ul>

    <% end %>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>